//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//
#include? "EnvConfig.xcconfig"

expiredAcsToken = eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwNCIsIng1dCI6IlJDM0NPdTV6UENIWlVKaVBlclM0SUl4Szh3ZyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOmI2YWFkYTFmLTBiMWQtNDdhYy04NjZmLTkxYWFlMDBhMWQwMV8wMDAwMDAxMC01NDA4LTJjODctZWM4ZC0wODQ4MjIwMGQwOGUiLCJzY3AiOjE3OTIsImNzaSI6IjE2NDc5OTQ4OTgiLCJleHAiOjE2NDgwODEyOTgsImFjc1Njb3BlIjoidm9pcCIsInJlc291cmNlSWQiOiJiNmFhZGExZi0wYjFkLTQ3YWMtODY2Zi05MWFhZTAwYTFkMDEiLCJpYXQiOjE2NDc5OTQ4OTh9.Yi6JbOCX-vrMJcYYTo9ZD6lZZsu0VxHstTG-iv8wuG8lp3sM2IFvM3tbgYf7igx9ufeJJRUPJmejBn9-PvAEREFgq9AAXdmwMKlEG61Z7BgtOW5njV-BvNIqpNUgPMiWrO8W-GN-elPP5XmPV7yP7VqVHkGi2l5Yqnt0ohWVwheu4N-JNb1p95MFdOU2pIoYQxOGY79yh3vFBUkTJ44nxKKqXtMH6Om6qPYafc602wjeDax1gUdIt-PC206Ouoe_eRKj9N25Jr4w_xFTk8fxqqLySkLhC_z5ePjGuKFJKwlabgvBw6XOLN8zW_DUDVBMZEHiV7acCavTGCpMMK4UZA

acsToken = eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwNiIsIng1dCI6Im9QMWFxQnlfR3hZU3pSaXhuQ25zdE5PU2p2cyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOmI2YWFkYTFmLTBiMWQtNDdhYy04NjZmLTkxYWFlMDBhMWQwMV8wMDAwMDAxMi02YWRkLTRmY2ItOTljNi01OTNhMGQwMDljMzAiLCJzY3AiOjE3OTIsImNzaSI6IjE2NTY5Njc5MDAiLCJleHAiOjE2NTcwNTQzMDAsImFjc1Njb3BlIjoidm9pcCIsInJlc291cmNlSWQiOiJiNmFhZGExZi0wYjFkLTQ3YWMtODY2Zi05MWFhZTAwYTFkMDEiLCJpYXQiOjE2NTY5Njc5MDB9.C5P9MwPLre8zgmnAiVDcCawuOu541daT1kz-CHRhJl2-eMPp3oS2p3JvidbWi_bTaqGHZkWJuZ1ZK_BK0KDNh2G2LFVKsu0k7uAJo3a3XjLMY4bsFJzYPohYKA2bP06em9BbFXfxNqAZ97jh8YGhBo_KMBRmHqdMTiDek-00_tsqzUYNOlKknWPKenkSLL18bBfjo6CvD8YByJX7giItqu8nbK8coHAWp2Z53tLbU6xSFxscXYyPwd9xmXZxvuFqKnVOzEJTIe01EVlAnRvPzw27odJsCKpx_GR9HrJYmGBSwFyreVo5rCAjw9BIoVzW6IzK31PELeRUXqAYQIBe2Q

//acsTokenUrl = https:/$()/acs-ui-dev-tcs-chat.azurewebsites.net/api/token
acsTokenUrl = https:/$()/acs-token-auth.azurewebsites.net/api/Auth?code=ECCHapGpOGo7KLqwsCrHZt9z5W7mKYEeCgFVnJjPxltPl1faCmfaNw==
displayName = User 2
groupCallId = b41bfaa0-b6ae-11ec-b17a-d929aadf53a5
teamsMeetingLink =  https:/$()/teams.microsoft.com/l/meetup-join/19%3ameeting_YTJhZjM5NGMtNjBjMi00M2JmLTliZmEtNTEyMGNiNGI0NWY4%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%22f709509a-54d3-476f-8489-f5e8d9bc895d%22%7d

